.sidebar{
    width: 15%;
    position: fixed;
    top: 80px;
    left: 0;
    padding: 10px;
    border-right: 1px solid #333333;
    height: 100vh;
}
.sidebar>*{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    color:#333333;
    text-decoration: none;
}
.sidebar>*:hover:not(.active){
    background-color: lightgray;
    border-radius: 40px;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out; 
    color: #333333;
    cursor: pointer;
}
.active{
    background-color: lightgray;
    border-radius: 40px;
    color: #333333;
}



